/* 
    Created on : 29-Nov-2020, 14:44:00
    Author     : Ashley Gregory
*/


@import "https://kit.fontawesome.com/6b0d0ffdec.js";
body {
    margin: 0;  
    padding: 0;
    font-family: sans-serif;
    background: url(images/smartcare.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* LOGIN/REGISTRATION FORM */
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    background: whitesmoke;
    padding: 0em 1em 1em 1em;
    border-radius: 10px;
    border: 5px solid black;
}

.login-box h1{
    font-size: 40px;
    border-bottom: 6px solid #0099cc;
    margin-bottom: 25px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 30px;
    padding: 8px 0;
    margin-bottom: 8px;
    border-bottom: 2px solid #0099cc;
    color: whitesmoke;
}

.textbox i{
    width: 26px;
    text-align: center;
    color: #0099cc;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    color: black;
    padding-left: 15px;
}
.role-select{
    border-bottom: 2px solid #0099cc;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0px;
    font-size: 26px;
    color: #0099cc;
}
.select{
    color: black;
    font-size: 12px;
    width: 85%;
    height: 50px;
    
}
.btn{
    width: 100%;
    background: whitesmoke;
    border: 5px solid #0099cc;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}

span {
    margin: 0;
    padding: 0;
    color: red;
    font-family: Arial;
}

/* HEADER - NAVBAR */
.header_bar{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color: #edf0f1;
}

.header_bar li, a{
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}